@font-face {
    font-family: "Questrial";
    src: url(font/Questrial-Regular.ttf);
}

.loader {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/1x/bg_portfolio-100.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondu_out {
    transform: translateY(-100%);
    transition: all 1s ease-out;
}

.imgloader {
    width: 50%;
}

body {
    background-image: url(img/1x/bg_portfolio-100.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Questrial", sans-serif;
    margin: 0;
    padding: 0;
}

.travaux {
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.navbar {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo_navbar {
    width: 5%;
    flex-shrink: 0;
}

.menu {
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px 0;
    font-family: "Questrial";
    font-size: 20px;
    position: relative;
}

.menu::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 10px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.menu:hover::before {
    width: 100%;
}


.menu_navbar {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-grow: 1;
}

.First_Title {
    padding-left: 60px;
    padding-right: 60px;
}

.Title1 {
    color: #FFFFFF;
    font-family: "Questrial";
    font-size: 150px;
}

.Title2 {
    color: #FFFFFF;
    font-family: "Questrial";
    font-size: 150px;
    display: flex;
    flex-direction: row-reverse;
}

.Title3 {
    color: #FFFFFF;
    font-family: "Questrial";
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.Title4 {
    color: #FFFFFF;
    font-family: "Questrial";
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title {
    color: #FFFFFF;
    font-family: "Questrial";
    font-size: 100px;
    text-align: center;
}

.TitleWhite {
    color: #FFFFFF;
    font-family: "Questrial";
    font-size: 100px;
    text-align: center;
}

.ID_profil {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 10px rgb(191, 191, 191);
}


.img_carte {
    width: 20%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(223, 223, 223);
}

.Text_ID {
    font-family: "Questrial";
    font-size: 20px;
}

.button_ {
    color: #fff;
    font-family: "Questrial";
    font-size: 16px;
    background-color: #2581C4;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

.button_:hover {
    color: #2581C4;
    background-color: #fff;
    transition: 0.4s;
    box-shadow: 10px 10px 10px rgb(191, 191, 191);

}

.espace {
    margin: 20%;
}

.espace2 {
    margin: 30%;
}

.tiles {
    font-size: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tiles .tile {
    display: inline-block;
    text-align: left;
    opacity: .99;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    width: 50%;
}

.tiles .tile:before {
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 50%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transition-property: top, opacity;
    transition-duration: 0.3s;
}

.tiles .tile img {
    display: block;
    max-width: 100%;
    backface-visibility: hidden;
}

.tiles .tile .details {
    font-family: "Questrial";
    font-size: 16px;
    padding: 20px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.tiles .tile .details span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
    transition-property: top, opacity;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.tiles .tile .details .title {
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
}

.tiles .tile .details .info {
    line-height: 1.2;
    margin-top: 5px;
    font-size: 12px;
}

.tiles .tile:focus:before,
.tiles .tile:focus span,
.tiles .tile:hover:before,
.tiles .tile:hover span {
    opacity: 1;
}

.tiles .tile:focus:before,
.tiles .tile:hover:before {
    top: 50%;
}

.tiles .tile:focus span,
.tiles .tile:hover span {
    top: 0;
}

.tiles .tile:focus .title,
.tiles .tile:hover .title {
    transition-delay: 0.15s;
}

.tiles .tile:focus .info,
.tiles .tile:hover .info {
    transition-delay: 0.25s;
}
.tiles .tile:hover .details,
.tiles .tile:focus .details {
    opacity: 1;
    transform: translateY(0);
}

.tiles .tile .details {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(100%);
}

.Footer {
    background-color: #4C97CF;
    text-align: center;
}

.Footer2 {
    background-color: #4C97CF;
    text-align: center;
}

.Logo_footer {
    width: 20%;
    padding: 50px;
}

.Menu2 {
    font-family: "Questrial";
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.Menu2:hover {
    color: #2581C4;
    transition: 0.2s;
}

.Menu_footer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    width: 40%;
    margin: 0 auto;
}


.text_projet {
    color: #4C97CF;
    font-family: "Questrial";
    font-size: 20px;
}

.projet_carte {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.projet_carte2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.projet_carte img,
.projet_carte2 img {
    transition: transform 0.3s ease;
}

.projet_carte:hover img,
.projet_carte2:hover img {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.section-title,
.subsection-title {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.projects {
    text-align: center;
    color: #FFFFFF;
    padding: 50px 0;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
}

.project-description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 280px;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.project-image {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #2581C4;
}

.project-info {
    padding: 20px;
    color: #4C97CF;
    font-size: 18px;
    font-family: "Questrial";
    text-align: left;
}

.project-features {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    color: #bbb;
}

.project-features li {
    margin-bottom: 10px;
    position: relative;
}

.project-features li::before {
    content: "•";
    color: #2581C4;
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 20px;
}

.project-results {
    font-size: 18px;
    line-height: 1.6;
    color: #e0e0e0;
    margin-top: 20px;
}

.div_text {
    width: 90%;
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}

.Contactez {
    color: #fff;
    font-family: "Questrial";
    font-size: 50px;
    text-align: center;
}

.button_ {
    color: #fff;
    background-color: #2581C4;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    text-align: center;
}

.button_:hover {
    background-color: #fff;
    color: #2581C4;
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.contact-form {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: rgba(76, 151, 207, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "Questrial";
    color: #FFFFFF;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form label {
    font-size: 18px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 95%;
    padding: 12px;
    font-size: 16px;
    color: #333;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form textarea {
    resize: none;
}

.contact-form button {
    background-color: #2581C4;
    color: #FFFFFF;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #FFFFFF;
    color: #2581C4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        margin: 0;
        background-size: cover;
        background-attachment: scroll;
    }

    .logo_navbar {
        width: 13%;
        padding-right: 10px;

    }

    .navbar {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        text-decoration: none;
        color: #FFFFFF;
        padding: 5px 0;
        font-family: "Questrial";
        font-size: 14px;
        position: relative;
    }

    .First_Title {
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 20px;

    }

    .Title1 {
        color: #FFFFFF;
        font-family: "Questrial";
        font-size: 40px;
    }

    .Title2 {
        color: #FFFFFF;
        font-family: "Questrial";
        font-size: 40px;
    }

    .Title {
        color: #2581C4;
        font-family: "Questrial";
        font-size: 50px;
        text-align: center;
    }

    .ID_profil {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 90%;
        height: 800px;
        margin: 0 auto;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 10px 10px 10px rgb(191, 191, 191);
        display: flex;
        flex-direction: column;
    }


    .img_carte {
        width: 40%;
        height: auto;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgb(191, 191, 191);
        margin: 0 auto;
    }

    .Text_ID {
        padding-bottom: 90px;
        font-family: "Questrial";
        font-size: 16px;
        text-align: center;
    }

    .button_ {
        padding-top: 30px;
        color: #fff;
        font-family: "Questrial";
        font-size: 16px;
        background-color: #2581C4;
        border-radius: 10px;
        padding: 10px;
    }

    .TitleWhite {
        color: #FFFFFF;
        font-family: "Questrial";
        font-size: 50px;
        text-align: center;
    }

    .espace {
        margin: 60%;
    }

    .espace2 {
        height: 525px;
    }

    .tiles {
        font-size: 0;
        display: flex;
        flex-direction: column;
    }

    .tiles .tile {
        opacity: .99;
        overflow: hidden;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
        width: 100%;
    }

    .Footer {
        background-color: #4C97CF;
        text-align: center;
    }

    .Footer2 {
        background-color: #4C97CF;
        text-align: center;
    }

    .Logo_footer {
        width: 26%;
        padding: 50px;
    }

    .Menu2 {
        font-family: "Questrial";
        font-size: 16px;
        text-decoration: none;
        color: #FFFFFF;
    }

    .Menu2:hover {
        color: #2581C4;
        transition: 0.2s;
    }

    .Menu_footer {
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;
        width: 80%;
        margin: 0 auto;
    }

    .Title3 {
        color: #FFFFFF;
        font-family: "Questrial";
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .projet_carte {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .projet_carte2 {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}



.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.burger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
}

/* Menu mobile caché par défaut */
.menu_navbar_mobile {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #4C97CF;
    padding-top: 60px;
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.menu_navbar_mobile a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    font-family: "Questrial";
    padding: 10px 0;
}

@media only screen and (max-width: 768px) {
    .menu_navbar {
        display: none;
    }

    .burger-menu {
        display: flex;
    }
}

.section-title,
.project-description,
.subsection-title,
.project-features,
.project-results {
    color: #fff;
    font-family: "Questrial";
}

.project-content {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery-image {
    width: 100%;
    max-width: 320px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.bio-section,
.skills-section,
.values-section,
.statistics-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #4C97CF;
    font-family: "Questrial";
}

.bio-section h2,
.skills-section h2,
.values-section h2,
.statistics-section h2 {
    color: #2581C4;
    font-size: 28px;
    margin-bottom: 15px;
}

.skills {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill {
    width: 200px;
    text-align: center;
}

.values-section ul {
    list-style-type: none;
    padding: 0;
}

.values-section li {
    margin-bottom: 10px;
}

.statistics {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    text-align: center;
}

.statistics .stat-item h3 {
    font-size: 40px;
    color: #2581C4;
}

.statistics .stat-item p {
    font-size: 18px;
    color: #717171;
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.skill-icons img {
    width: 50px;  /* Taille fixe pour toutes les icônes */
    height: 50px;
    object-fit: contain; /* Pour garder les proportions sans déformation */
}

.skill-icons-laravel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.skill-icons-laravel img {
    width: 450px;  /* Taille fixe pour toutes les icônes */
    height: 50px;
    object-fit: contain; /* Pour garder les proportions sans déformation */
}


.badge-nouveau {
    position: absolute;
    background-color: #ff4757;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 12px;
    top: 10px;
    right: 10px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.project-card {
    position: relative;
}
