@font-face {
    font-family: 'Questrial';
    src: url(font/Questrial-Regular.ttf);
}
@font-face {
    font-family: 'Bimbo';
    src: url(font/Bimbo-Trial.ttf);
}

.grad {
    background-image: linear-gradient(#2581C4, #FFFFFF);
    background-repeat: no-repeat;
    height: 100vh;
}   

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    float: right;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 20px;
    font-family: 'Questrial';
    font-size: 18px;
    transition: all 0.4s;
}
a:hover {
  letter-spacing: 2px;
}


 
#LogoAccueil{
    height: 3em;
    width: auto;
}

#vide{
    width: 30vw;
}

#menuNav{
    width: 30vw;
}

#LogoHeader{
    justify-self: center;
}

.Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.accmenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Textaccmenu {
    color: #FFFFFF;
    font-family: 'Questrial';
    font-size: 10em;
}



@media (max-width: 1024px) {
    .Textaccmenu {
        color: #FFFFFF;
        font-family: 'Questrial';
        font-size: 5em;
    }
    a {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        padding: 12px;
        font-family: 'Questrial';
        font-size: 16px;
    }
     
  }

